// brand name
.brand__name {
  color: $green-color;
  font-size: 5rem;
  width: 67%;
  padding-left: 0;
  margin-left: 0;

  @include for-size(mobile) {
    align-items: center !important;
    width: 100%;
    padding-bottom: 1rem;
    font-size: 8rem;
  }

  &--font {
    font-family: $logo-font;
  }

  .brand__sub {
    color: $gray-color;
    font-size: 1.5rem;

    @include for-size(mobile) {
      color: $green-color;
      margin-left: -2rem !important;
      font-size: 2.3rem;
    }
  }
}

// email input
.email__input {
  .input-group {
    .input {
      padding: 1rem 17rem 1rem 1rem;
      border: none;

      @include for-size(mobile) {
        padding-right: 7rem;
      }
      @include for-size(mobile-md) {
        padding-right: 3rem;
      }
      @include for-size(mobile-sm) {
        padding-right: 8rem;
      }
    }

    .input-group-text {
      background-color: $green-color;
      border: none;
      color: $white-color;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      padding: 0 18px;
    }
  }
}
