<!-- social icons -->
- const socialIcons = ["facebook-f","twitter","tumblr","vimeo-v"];

<!-- user icons -->
-
    const userIcons = [{
        icon:"user",
        text:"Đăng nhập"
        },
        {
        icon:"user-plus",
        text:"Đăng ký"
        }];

<!-- phone icon -->
- const phoneIcon = "fas fa-phone-alt";

<!-- magnify icon -->
- const magnifyIcon = "fas fa-search";

<!-- shopping basket icon -->
- const shoppingBasketIcon = "fas fa-shopping-basket";
