<!-- social icons -->
- const socialIcons = ["facebook-f","twitter","tumblr","vimeo-v"];

<!-- user icons -->
-
    const userIcons = [{
        icon:"user",
        text:"Đăng nhập"
        },
        {
        icon:"user-plus",
        text:"Đăng ký"
        }];

<!-- phone icon -->
- const phoneIcon = "fas fa-phone-alt";

<!-- magnify icon -->
- const magnifyIcon = "fas fa-search";

<!-- shopping basket icon -->
- const shoppingBasketIcon = "fas fa-shopping-basket";

<!-- hamburger menu -->
- const menu = "fas fa-bars";

<!-- nav-link list -->
-
    const navLink = [{
        name:"Trang chủ",
        id: "main"
        },
        {
            name: "Giới thiệu",
            id: ""
        },
        {
            name: "Sản phẩm",
            id: "product-list",
            list: true
        },
        {
            name: "Sản phẩm mới",
            id:"",
            list: true
        },
        {
            name: "Tin tức",
            id: "info"
        },
        {
            name: "Liên hệ",
            id: "contact"
        }]

<!-- paper plane -->
- const paperPlaneIcon = "fas fa-paper-plane";

<!-- contacts -->
-
    const contacts = [
        {
            icon:"fas fa-mobile-alt",
            content:"Điện thoại : (84-4) 66.558.868"
        },
        {
            icon:"far fa-envelope",
            content:"Email: info@dkt.com.vn"
        }
    ];

<!-- arrow right -->
- const arrowRight = "fas fa-chevron-right";

<!-- footer-nav -->
-
    const footerNav =[
        {
            heading:"THÔNG TIN KHÁCH HÀNG",
            links:[
                "Tài khoản của tôi",
                "Sản phẩm yêu thích",
                "Lịch sử mua hàng",
                "Chính sách đổi trả",
                "Góp ý, khiếu nại"
                ]
        },
        {
            heading:"HỖ TRỢ DỊCH VỤ",
            links:[
                "Hệ thống cửa hàng",
                "Hướng dẫn mua hàng",
                "Hướng dẫn thanh toán",
                "Tích điểm đổi quà",
                "Câu hỏi thường gặp"
            ]
        },
        {
            heading:"CHÍNH SÁCH ƯU ĐÃI",
            links:[
                "Chính sách giao hàng",
                "Chính sách đổi trả sản phẩm",
                "Chính sách bảo hành",
                "Giới thiệu sản phẩm mới",
                "Chính sách trả góp"
            ]
        },
        {
            heading:"TIN TỨC",
            links:[
                "Tin mới",
                "Khuyến mại",
                "Tuyển dụng",
                "Download",
                "Tags"
            ],
            new: true
        }
    ];

<!-- helper -->
-
    const helper = [
        "Sitemap",
        "Danh mục sản phẩm",
        "Hợp tác",
        "Thông tin liên hệ",
        "Câu hỏi thường gặp"
    ];

<!-- bank cards -->
-
    const cards = [
        "fab fa-cc-visa",
        "fab fa-cc-mastercard",
        "fab fa-cc-paypal",
        "fab fa-cc-discover"
    ]

<!-- cover slider -->
-
    const sliders = [
        {
            src:"./assets/img/covers/slide-1920x590.png",
            alt:"banner shop",
            active: true
        },
        {
            src:"./assets/img/covers/slide-1920x590 - Copy (2).png",
            alt:"banner shop"
        },
        {
            src:"./assets/img/covers/slide-1920x590 - Copy.png",
            alt:"banner shop"
        }
    ]

<!-- products -->
-
    const products =[
        {
            src:"./assets/img/products/spx2-1.png",
            alt:"flower pot",
            name:"Cây chân chim",
            price:"250.000 đ",
            discount:"200.000 đ",
            active: true
        },
        {
            src:"./assets/img/products/spx2-2.png",
            alt:"flower pot",
            name:"Cây Dạ Lam",
            price:"500.000 đ",
            discount:"250.000 đ"
        },
        {
            src:"./assets/img/products/spx2-3.png",
            alt:"flower pot",
            name:"Cây Danh Dự",
            price:"850.000 đ",
            discount:"250.000 đ"
        },
        {
            src:"./assets/img/products/spx2-4.png",
            alt:"flower pot",
            name:"Cây đa búp đỏ",
            price:"150.000 đ",
            discount:"100.000 đ"
        },
        {
            src:"./assets/img/products/spx2-5.png",
            alt:"flower pot",
            name:"Cây cọ ta",
            price:"375.000 đ",
            discount:"150.000 đ"
        },
        {
            src:"./assets/img/products/spx2-6.png",
            alt:"flower pot",
            name:"Cây dứa nhỏ ",
            price:"1.000.000 đ",
            discount:"850.000 đ"
        },
        {
            src:"./assets/img/products/spx2-7.png",
            alt:"flower pot",
            name:"Cây xương rồng ",
            price:"375.000 đ",
            discount:"150.000 đ"
        },
        {
            src:"./assets/img/products/spx2-8.png",
            alt:"flower pot",
            name:"Cây dứa nhỏ ",
            price:"250.000 đ",
            discount:"150.000 đ"
        },
        {
            src:"./assets/img/products/spx2-9.png",
            alt:"flower pot",
            name:"Cây đa búp đỏ",
            price:"500.000 đ",
            discount:"250.000 đ"
        },
        {
            src:"./assets/img/products/spx2-10.png",
            alt:"flower pot",
            name:"Cây Danh Dự",
            price:"1.000.000 đ",
            discount:"375.000 đ"
        },
        {
            src:"./assets/img/products/spx2-11.png",
            alt:"flower pot",
            name:"Cây chân chim",
            price:"375.000 đ",
            discount:"150.000 đ"
        },
        {
            src:"./assets/img/products/spx2-12.png",
            alt:"flower pot",
            name:"Cây Danh Dự",
            price:"850.000 đ",
            discount:"250.000 đ"
        },
        {
            src:"./assets/img/products/spx2-13.png",
            alt:"flower pot",
            name:"Cây Dạ Lam",
            price:"250.000 đ",
            discount:"150.000 đ"
        },
        {
            src:"./assets/img/products/spx2-14.png",
            alt:"flower pot",
            name:"Cây cọ ta",
            price:"500.000 đ",
            discount:"375.000 đ"
        },
    ]

<!-- star rating -->
- const fullStar = "fas fa-star";
- const halfStar = "fas fa-star-half-alt";

<!-- arrow control -->
- const prevArrow = "fas fa-arrow-circle-left";
- const nextArrow = "fas fa-arrow-circle-right";

<!-- cover -->
- const cover = {src: "./assets/img/covers/banner-11140x217.png", alt:"sương rông đà lạt"}
