<!-- social icons -->
- const socialIcons = ["facebook-f","twitter","tumblr","vimeo-v"];

<!-- user icons -->
-
    const userIcons = [{
        icon:"user",
        text:"Đăng nhập"
        },
        {
        icon:"user-plus",
        text:"Đăng ký"
        }];

<!-- phone icon -->
- const phoneIcon = "fas fa-phone-alt";

<!-- magnify icon -->
- const magnifyIcon = "fas fa-search";

<!-- shopping basket icon -->
- const shoppingBasketIcon = "fas fa-shopping-basket";

<!-- hamburger menu -->
- const menu = "fas fa-bars";

<!-- nav-link list -->
-
    const navLink = [{
        name:"Trang chủ",
        id: "main"
        },
        {
            name: "Giới thiệu",
            id: ""
        },
        {
            name: "Sản phẩm",
            id: "product-list",
            list: true
        },
        {
            name: "Sản phẩm mới",
            id:"",
            list: true
        },
        {
            name: "Tin tức",
            id: "info"
        },
        {
            name: "Liên hệ",
            id: "contact"
        }]
