// brand name
mixin brandName
    .brand__name.container.d-flex.flex-column
        span
            |Green
            span(class="brand__name--font") Shop
        span(class="brand__sub ms-3") Món quà từ thiên nhiên