body {
  font-family: $main-font;
}

// brand name
.brand__name {
  color: $green-color;
  font-size: 5rem;
  width: 55%;
  padding-left: 0;
  margin-left: 0;

  &--font {
    font-family: $logo-font;
  }
}

.brand__sub {
  color: $gray-color;
  font-size: 1.6rem;
}

// dipose border inputs
input {
  outline: none;
}
