.info {
  &__container {
    margin-top: 2rem;
    margin-bottom: 3rem;

    .side__bar {
      margin-top: 2rem;

      .thumbnail {
        background-color: transparent;
        border: none;

        .card-body {
          padding-top: 0px;

          .card-title {
            line-height: 2rem;
          }
        }
      }

      .blog__tag {
        .btn {
          padding-right: 1.5rem;
          padding-left: 1.5rem;
          margin-bottom: 0.5rem;

          &:focus,
          &:hover {
            color: $white-color;
            background-color: $green-color;
            box-shadow: none;
          }
        }
      }
    }

    .news {
        @include for-size(mobile) {
            margin-top: 4rem;
          }

      .card {
        background-color: transparent;
        border: none;
        margin-bottom: 3rem;

        .card-header {
          background-color: transparent;
          padding-top: 0;
          line-height: 1.5rem;
          border: none;

          .card-title {
            color: $dim-gray-color;
            font-size: 1.3rem;
          }

          .icon__group {
            .icon {
              color: $green-color;
              margin-right: 0.5rem;
            }

            .content{
                color: $gray-color;
            }
          }
        }

        .card-body{
            .card-text{
                line-height: 1.5rem;
                color: $gray-color;
            }
        }
      }
    }
  }
}
